# Xcode
.DS_Store
build/
DerivedData/

# Xcode user settings
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Logs
*.log

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Bundler
.bundle/

# Xcode workspace
*.xcworkspace